body,
html {
    margin: 0;
    min-height: 100%;
    width: 100%;
    background-color: transparent;
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#text {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    font-size: 2em;
    display: inline;
    text-align: center;
    display: none;
}

.music {
    position: absolute;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
    top: 45%;
    font-size: 1.3em;
    left: 50%;
    font-weight: 400;
    transform: translate(-50%, -45%);
}

a {
    text-decoration: none!important;
    color: white!important
}

#link #text:hover {
    color: white;
    font-size: 2.04em
}

a:hover {
    color: #1c90c6!important;
}

.fab {
    font-size: 1.2em;
    padding: 5px;
}

.btn {
    display: relative;
    background-color: transparent;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 70%;
    left: 50%;
    font-family: 'Tajawal';
    font-weight: 700;
    font-size: 1.3em;
    color: white;
    border: none;
    transform: translate(-50%, -55%);
    cursor: pointer;
    z-index: 999;
}

.btn:focus {
    box-shadow: none;
}

.btn:hover {
    color: #1c90c6;
}

.btn::before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    width: 22px;
    right: 0;
    border-top: 3px solid #1c90c6;
}

.btn::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -6px;
    width: 22px;
    left: 0;
    border-bottom: 3px solid #1c90c6;
}

canvas {
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro {
    position: absolute;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    right: 50%;
    top: 50%;
    text-align: center;
    font-size: 1.5em;
    line-height: 37px;
    transform: translate(50%, -50%);
    height: 50%;
    width: 100%;
}

.cursor {
    font-size: 1.2em;
    font-family: 'Tajawal', sans-serif;
    color: #1c90c6;
}

.cursorAnimation {
    animation: cursorBlink 0.5s step-end infinite;
}

.social-media {
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, 0);
    display: none;
}

@keyframes cursorBlink {
    from,
    to {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

path {
    fill: #1c90c6
}

@media screen and (max-width: 570px) {
    #text {
        font-size: 1.5em;
        top: 7%
    }
    #intro {
        font-size: 1em;
    }
    #link #text:hover {
        color: white;
        font-size: 1.54em
    }
}
